$color-text: #000;
$color-add: #f4903f;
$color-light: #fff;
$color-bg-light: #ececec;
$color-bg-form: #faf3ce;
$color-bg-footer: #eeeeee;
$color-bg-slide: #f5f5f5;
$color-slide-border: #cccccc;


$content-width: 1399px;
$tablet-width: 1199px;
$tablet-small-width: 991px;
$mobile-width: 767px;
$mobile-small-width: 575px;